.bg-img-login {
    background-image: url('https://cootransvalle.com.co/imagenes/iseguridad.jpg');
    background-repeat: no-repeat;
    background-size: 100%;
}

.mask-bg-login {
    background-color: rgba(0, 0, 0, 0.6);
    height: 100vh;
}

.color-bg-login {
    background-color: #0066b2;
}